<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Unibrasil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onClick($event)" *ngIf="loggedIn">Logout</a>
      </li>
    </ul>
  </div>
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
</nav>

<div class="container" id="main">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>

<!-- Site footer -->
<footer class="fixed-bottom">
  <div class="container">
    <p>&copy; 2017 Unibrasil</p>
  </div>
</footer>
