<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Unibrasil</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <a href="#" (click)="onClick($event)" *ngIf="loggedIn">Logout</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
</nav>
<div class="container" id="main">

  <flash-messages></flash-messages>

  <router-outlet></router-outlet>

</div>
<!-- /container -->

<!-- Site footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2017 Unibrasil</p>
  </div>
</footer>