<div class="jumbotron" *ngIf="mostraFazerProposta">
    <p class="lead">Você ainda não realizou nenhuma proposta de matrícula para este semestre.</p>
    <p class="text-center">
        <a class="btn btn-lg btn-success" role="button" (click)="fazerProposta()">
        Fazer proposta
    	</a>
    </p>
</div>

<div class="jumbotron" *ngIf="inscricao">
	<p class="lead">Inscrição feita:</p>
	<ul>
		<li *ngFor="let disciplina of inscricao.disciplinas">
			{{disciplina.nome}} - {{disciplina.id}}
		</li>
	</ul>
	<div class="text-center">
		<a class="btn btn-danger" role="button" (click)="cancelarMatricula()">
        	Cancelar matrícula
    	</a>
	</div>
</div>

<div *ngIf="mostraDisciplinas">

<div class="row">
	<a class="btn btn-lg btn-primary pull-right" role="button" (click)="enviarProposta()">
		Enviar proposta
	</a>
</div>
<div class="row">
<div class="panel panel-default" 
    *ngFor="let disciplina of disciplinasDisponiveis | paginate: {itemsPerPage: 10, currentPage: p}">
    <div class="panel-heading">
        {{disciplina.nome}} - {{disciplina.id}}
        <button [ngClass]="getCSSClasses(disciplina)" (click)="onSelect(disciplina)">{{getLabel(disciplina)}}</button>
    </div>
    <div class="panel-body">
        Aulas: {{disciplina.aulas}} <br> Requisitos: {{disciplina.requisitos | disciplina}} <br> Créditos: {{disciplina.creditos}}
        <br> Laboratórios: {{disciplina.laboratorios}} <br>
    </div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>