<div class="jumbotron" *ngIf="mostraFazerProposta">
    <p class="lead">Você ainda não realizou nenhuma proposta de matrícula para este semestre.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-primary" role="button" (click)="fazerProposta($event)">
        Fazer proposta
    	</a>
    </p>
</div>

<div class="jumbotron" *ngIf="inscricao">
	<p class="lead">Inscrição feita:</p>
	<ul>
		<li *ngFor="let turma of inscricao.turmas">
			{{turma.disciplina.nome}} - {{turma.disciplina.id}}
		</li>
	</ul>
	<div class="text-center">
		<a class="btn btn-danger" role="button" (click)="cancelarMatricula()">
        	Cancelar matrícula
    	</a>
	</div>
</div>

<div *ngIf="mostraTurmas">
	<div class="card"
	    *ngFor="let turma of turmasDisponiveis | paginate: {itemsPerPage: 10, currentPage: p}">
	    <div class="card-header">
			<div class="row">
				<div class="col-sm-10">
					{{turma.disciplina.nome}} - {{turma.disciplina.id}}
				</div>
				<div class="col-sm-2">
					<button class="btn btn-primary btn-sm pull-right"
					[@turmaState]="turma.selecionado ? 'active' : 'inactive'"
					(click)="onSelect(turma)">{{getLabel(turma)}}</button>
				</div>
			</div>
	    </div>
	    <div class="card-body">
	        Aulas: {{turma.disciplina.aulas}}
	        <br>Requisitos: {{turma.disciplina.requisitos | disciplina}}
	        <br> Créditos: {{turma.disciplina.creditos}}
	        <br> Laboratórios: {{turma.disciplina.laboratorios}}
	        <br> Professor: <a routerLink="../professor-info/{{turma.professor.id}}" >{{turma.professor.nome}}</a>
	        <br> Horários:
	        <table class="table table-bordered">
	        	<tbody>
		        	<tr *ngFor="let horario of getHorarios(turma)">
		        		<td>{{horario.dia.nome}}</td><td>{{horario.hora}}:00</td>
		        	</tr>
	        	</tbody>
	        </table>
	    </div>
	</div>
	<a class="btn btn-lg btn-primary pull-right" role="button" (click)="enviarProposta()">
		Enviar proposta
	</a>
	<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
