<div class="d-flex justify-content-start">
  <div class="p-2">
    <h2>Professores cadastrados</h2>
  </div>
  <div class="ml-auto p-2">
    <a class="btn btn-primary btn-sm pull-right" routerLink="../professor">Novo</a>
  </div>
</div>
<table class="table">
  <thead>
    <th>Nome</th>
    <th>Username</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th>Data de Nascimento</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professores">
      <td>{{professor.nome}}</td>
      <td>{{professor.username.username}}</td>
      <td>{{professor.endereco}}</td>
      <td>{{professor.telefone}}</td>
      <td>{{professor.nascimento | date: 'dd/MM/yyyy'}}</td>
      <td><button class="btn btn-sm btn-primary" routerLink="../professor/{{professor.id}}">Editar</button></td>
      <td><button class="btn btn-sm btn-danger" (click)="delete(professor)">Remover</button></td>
    </tr>
  </tbody>
</table>
